.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%; 
  }

  
  
  .dropdown {
    margin-top: 4%;
  }
  .btn {
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    background: #009c51;
    padding: 10px 40px 10px 40px;
    border: solid #0b212e 1px;
    cursor: pointer;
    margin-top: 3.5%;
  }
  
  .btn:hover {
    background-color: #55789e;
  }